<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="FrontendReservation" connectionString="Data source=.;Initial Catalog=FrontendReservation;Integrated Security=true;Encrypt=false;"/>
		<add name="LoginManager" connectionString="Data source=.;Initial Catalog=LoginManager;Integrated Security=true;Encrypt=false;"/>
	</connectionStrings>
	<appSettings>

	</appSettings>
</configuration>